<section id="contact">
  <div class="contact-panel">
    <h1 style="padding-bottom: 20px;">CONTACT</h1>

    <div class="contact-form">
      <app-contact-form></app-contact-form>
    </div>

    <div class="contact-detail">
      <h3>Main contacts</h3>
      <div class="contact-info">
        <h2>
          <i class="fas fa-2x fa-envelope-square"></i>
          <a class="info" href="mailto:evannguyen85@gmail.com">Email: evannguyen85@gmail.com</a>
        </h2>
      </div>
      <div class="contact-info">
        <h2>
          <i class="fas fa-2x fa-phone-square"></i>
          <span class="info">Phone: 04 089 629</span>
        </h2>
      </div>
      <div class="contact-info">
        <h2>
          <i class="fab fa-2x fa-github-square"></i>
          <a class="info" href="https://github.com/evannguyen85">GitHub</a>
        </h2>
      </div>
    </div>
 </div>
</section>