#about {
    display: block;
    /* height: 110vh; */
    width: 100%;
    /* background-color: aquamarine; */
    margin: 0 auto;
    padding-top: 80px;
    text-align: center;
    background-color: #303030;
    color: white;
}

a {
    color: #fdab21;
}

.about-panel {
    background-color: #424242;
    width: 95%;
    margin: auto;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
    transform: translateZ(100px);
}

p {
    font-size: 18px;
}

h1 {
    font-size: 28px;
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 32px;
    }

    p {
        font-size: 22px;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 36px;
    }

    p {
        font-size: 24px;
    }

    .about-panel {
        width: 80%;
        padding: 15px;
    }
}