* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

footer {
    text-align: center;
    color: #fdab21;
    font-size: 22pt;
    font-weight: bold;
    width: 100%;
    /* height: 200px; */
    /* background-color: #1B242F; */
    padding: 50px 0 400px 0;
    position: relative;
    background-color: #303030;
}