<section id="gallery">
  <div class="gallery-panel">
    <h1 style="padding-bottom: 25px;">GALLERY</h1>
    <div class="row collapse in" id="gallery-1">
      <div class="col-md-3 col-sm-6">
        <a href="JavaScript:Void(0);" (click)="openDialogForDashboard()">
          <div class="thumbnail">
            <img src="../../../assets/images/dashboard.png"
              alt="">
          </div>
          <div class="proj-title">
            <h4>Tester Dashboard</h4>
          </div>
        </a>
      </div>

      <div class="col-md-3 col-sm-6">
        <a href="JavaScript:Void(0);" (click)="openDialogForCalculator()">
          <div class="thumbnail">
            <img src="../../../assets/images/calculator.png"
              alt="">
          </div>
          <div class="proj-title">
            <h4>Calculator</h4>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img src="../../../assets/images/placeholder.png"
              alt="">
          </div>
          <div class="proj-title">
            <h4>Placeholder</h4>
          </div>
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img src="../../../assets/images/placeholder.png"
              alt="">
          </div>
          <div class="proj-title">
            <h4>Placeholder</h4>
          </div>
      </div>
    </div>
    <div class="row collapse" id="gallery-2">
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <img src="../../../assets/images/placeholder.png"
            alt="">
        </div>
        <div class="proj-title">
          <h4>Placeholder</h4>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <img src="../../../assets/images/placeholder.png"
            alt="">
        </div>
        <div class="proj-title">
          <h4>Placeholder</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <img src="../../../assets/images/placeholder.png"
            alt="">
        </div>
        <div class="proj-title">
          <h4>Placeholder</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <img src="../../../assets/images/placeholder.png"
            alt="">
        </div>
        <div class="proj-title">
          <h4>Placeholder</h4>
        </div>
      </div>
    </div>
    <div class="expand-gallery">
      <button appCollapse data-toggle="collapse" data-target="#gallery-2" class="btn btn-success btn-lg" style="font-size: 18pt;">Expand
        Gallery</button>
    </div>
  </div>
</section>