nav {
    font-size: 16pt;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-brand {
    font-size: 16pt;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fdab21;
}


.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}

@media only screen and (max-width: 945px) {
    nav {
        font-size: 12pt;
    }

    nav ul li a {
        padding-left: 10px;
        padding-right: 10px;
    }
}