nav {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}

.link-active {
    color: #E0126B !important;
}