h3 {
    color: #FDAB21;
    padding-bottom: 10px;
}

input.form-control {
    height: 50px;
    padding-bottom: 15px;
}

.form-control {
    font-size: 18px;
    background-color: #303030;
    color: #f1f1f1;
    border: none;
    border-radius: 0;
}

.form-control:focus {
    background-color: white;
    color: black;
}

button {
    background-color: inherit;
    border: 1px solid white;
    border-radius: 0;
    width: 120px;
}

button:hover {
    background-color: #FDAB21;
}

.btn[disabled] {
    opacity: 0.3;
}
.btn[disabled]:hover {
    background-color: #FDAB21;
    opacity: 0.3;
}