<div style="position: relative; display: block; width: 101%;">
  <img style="margin-left: -4px; margin-bottom: -5px;" appResponsiveImage="../../../assets/images/bg.png">
</div>

<!-- <div class="bg-image"></div> -->

<div class="bg-text">
  <h2>Welcome! I'm <span style="color: #e0126b;">Evan Nguyen</span></h2>
  <h2>I'm a web developer</h2>
  <!-- <hr> -->
  <h4 class="btn-view-work" (click)="onViewWork($event)">
    <span style="padding-right: 10px;">View my details</span>
    <i class="fas fa-arrow-right"></i>
    <!-- <i class="fas fa fa-arrow-down down"></i> -->
  </h4>
</div>