* {
    box-sizing: border-box;
}

/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 2px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
hr {
    width: 300px;
    margin: auto;
}

.btn-view-work {
    padding: 10px 0;
    width: 180px;
    margin: 10px auto;
    border: 1px solid white;
}

.btn-view-work:hover {
    cursor: pointer;
    background-color: #21c2c8;
    transition: 0.5s;
}
