<section id="intro">
    <div class="intro-panel">
      <h1 style="padding-bottom: 20px;">EVAN NGUYEN</h1>
      <p>
        I am a passionate web developer with a bachelor degree in Electronics and Telecommunications and a master degree in Business Information Systems. I've always enjoyed spending my days coding, so when I am not in the office,
        I spend time to work on pet projects and taking programming and web development courses as well as reading related books.
      </p>
      <p>
        I am currently seeking opportunities to work on exciting projects and creating useful applications for clients. I am a fast learner and can quickly integrate into a team and start contribuition in short time.
      </p>
    </div>
</section>
