<!-- when user click View my work button on home -->
<app-home appNavigation (clickViewWork)="navigateToIntro($event)"></app-home>
<!-- when user click an item on navbar menu -->
<app-navbar appNavigation (clickMenuItem)="goToSection($event)"></app-navbar>
<!-- attribute directive -->
<app-intro appNavigation></app-intro>
<app-gallery appNavigation></app-gallery>
<app-techs appNavigation></app-techs>
<app-about appNavigation></app-about>
<app-contact appNavigation></app-contact>
<app-footer></app-footer>