.dialog-card {
    padding-bottom: 20px;
}

.dialog-card > img {
    width: 100%;
    margin: auto;
}

.mat-card-content {
    width: 100%;
    margin: 20px auto;
}

.card-header-image {
    background-size: cover;
}

a, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 14px;
}

.logo {
    max-width: 20px;
    max-height: 15px;
}

.mat-card-actions {
    text-align: center;
}

.mat-raised-button:first-child  {
    margin-right: 8px !important;
}

.mat-raised-button:not(:last-child) {
    margin-right: 8px !important;
}

.mat-raised-button {
    line-height: 22px;
    font-size: 14px;
}

span:not(:last-child) {
    margin-right: 30px;
}

@media only screen and (min-width: 768px) {
    .dialog-card > img {
        max-width: 40%;
        margin: auto auto 20px;
    }

    .mat-card-content {
        max-width: 60%;
        float: right;
        margin: auto;
        margin-bottom: 20px;
        padding-left: 15px;
    }

    p {
        font-size: 26px;
    }
    .mat-raised-button {
        line-height: 36px;
        font-size: 22px;
    }

    .mat-raised-button:first-child  {
        margin-right: 15px !important;
    }

    .mat-raised-button:not(:last-child) {
        margin-right: 15px !important;
    }

    .logo {
        max-width: 40px;
        max-height: 30px;
    }

}

