<mat-card class="dialog-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="card-header-image"></div> -->
    <img mat-card-avatar class="card-header-image" src="{{ data.avatar }}" alt="Avatar">
    <mat-card-title>{{ data.title }}</mat-card-title>
    <mat-card-subtitle>{{ data.subtitle }}</mat-card-subtitle>
  </mat-card-header>

    <img src="{{ data.imgSource }}" alt="Photo of calculator app" mat-card-image>

  <mat-card-content class="card-content">
    <p>
      {{ data.desc }}
    </p>
    <hr>
    <p>
      <span *ngFor="let tech of data.techs">
        <img class="logo " src="{{ tech.logo }}" alt="{{tech.name}}">
        {{ tech.name }}
      </span>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button target="_blank" href="{{ data.links.site }}">VIEW APP</a>
    <a mat-raised-button target="_blank" href="{{ data.links.git }}">SEE GIT</a>
    <a mat-raised-button href="#" (click)="onClose()">CLOSE</a>
  </mat-card-actions>
</mat-card>
